### My files
tests/
filters_notebooks/
tools/
help_algorithms/

### Default folders
.pytest*
*__pycache__*
*.ipynb_check*
.vscode/
features/
database/
temp/
emails/
tools/line.html

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class