# My files
.gitattributes
02 - Butterworth Filter.ipynb
02 - Butterworth filtering without Scipy
#
#
# Default folders
.pytest*
*__pycache__*
*.ipynb_check*
.vscode/
features/
database/
temp/
emails/

#
#
# General file types
*.gz
*.pkl
*.mat